<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=btm6ttwo3xKBVpegli4xRWs1bqGiq9W7"></script>
    <title>地图展示</title>
    <style type="text/css">
        body,
        html {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "微软雅黑";
        }
        
        #allmap {
            height: 300px;
            width: 100%;
        }
        
        #r-result,
        #r-result table {
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="/jquery-ui.min.css" />
</head>

<body>
    <input type="button" onclick="CancelTag()" value="View" />
    <input type="button" onclick="createStation()" value="Create station" />
    <input type="button" onclick="deleteStation()" value="Delete station" />
    <input type="button" onclick="setDepot()" value="Set depot" />
    <input type="button" onclick="run()" value="go" />
    <input type="button" onclick="reset()" value="Reset" />
    <div id="allmap"></div>
    <div id="r-result"></dv>
    <div id="demandInput" title="Input Demand">
        <form>
        <label>Demand:</label><input id="demandInputData" type="text"></input>

        </form>
    </div>
    <div id="demandChange" title="Input Demand">
        <form>
        <label>Demand:</label><input id="demandChangeData" type="text"></input>

        </form>
    </div>
</body>
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/mymap.js"></script>
    <script>
    $(function() {
        $( "input[type=button], a, button" )
        .button()
        .click(function( event ) {
            event.preventDefault();
        });
    });
    </script>

</html>